@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');

#wrap {
    width:100%;
    height:100vh;
    overflow:hidden;
    background:linear-gradient(45deg, violet, aqua);

    .swiper-wrapper {
        width:100%;
        height:100%;

        .swiper-slide {
            width:500px;
            height:500px;
            background:rgba(255,255,255,.5);
            border:1px solid #fff;
            display:flex;
            justify-content: center;
            align-items: center;
            font-size:10vh;
            color:#fff;
            position:relative;
            top:50%;
            margin-top:-250px;
        }

    }

    .swiper-button-next {
        top:auto;
        bottom:5vh; 
        right:calc(5vw + 50px);
        transform:scale(.5);
        filter:grayscale(100%) brightness(300%);
    }
    .swiper-button-prev {
        top:auto;
        bottom:5vh; 
        left:auto;
        right:calc(5vw + 100px);
        transform:scale(.5); 
        filter:grayscale(100%) brightness(300%);
    }
    .swiper-pagination-fraction {
        width:auto;
        left:auto;
        bottom:auto;
        top:8vw;
        right:5vw;
        font:normal 16px/1 "orbitron";
        color:#eee;
        letter-spacing: 1px;

        span:nth-of-type(1) {
            font-size:30px;
            color:#fff;
        }
    }

    .auto {
        position:absolute;
        left:5vw;
        bottom:6vw;
        display:flex;

        li {
            margin-right:30px;
            cursor:pointer;
            font-size:20px;
            color:#fff;
            opacity:.5;
            transition:.5s;

            &.on {
                opacity: 1;
                transform: scale(1.5);
            }
        }
    }
}